.button {
  &__container {
    position: relative;
    overflow: hidden;
    transition: background 400ms;
    background-color: $secondary;
    outline: 0;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  &__legend {
    color: $dark;
    font-family: $family-main;

    &--big {
      font-size: 2rem;
    }

    &--medium {
      font-size: 1rem;
    }

    &--small {
      font-size: 12px;
    }
  }

  &-big {
    width: 150px;
    height: 50px;
  }

  &-medium {
    width: 150px;
    height: 40px;
  }

  &-small {
    width: 130px;
    height: 35px;
  }

  &__disabled {
    pointer-events: none;
    background-color: $disabled-gray;
    color: $disabled-legend;
  }
}

.button-ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}


@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}