.input-text {
    &__container {
        width: 100%;
    }

    &__field {
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 0 4px;
        color: $medium-gray;
        background-color: whitesmoke;
        border: 1px solid $light-gray;

        &:hover,
        &:focus {
            border: 1px solid $medium-gray;
        }
    }

    &__disabled {
        pointer-events: none;
        color: $medium-gray;
        background-color: $disabled-gray;

        &.input-text__field:hover {
            border: 1px solid $disabled-gray;
        }
    }

    &__error {
        border: 1px solid $red;

        &:hover,
        &:focus {
            border: 1px solid $red;
        }
    }
}