.topbar {
	&__container {
	  width: 100vw;
	  height: 250px;
	  background-color: $primary;
	}
	&__row {
		&--first {
		    display: flex;
			justify-content: space-between;
			padding: 1rem 2rem 0 2rem;
			&-right {
				display: flex;
				align-items: center;
			}
		}

		&--second {
			height: 50px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 2rem 2rem 0 2rem;
			&--menu {
			  display: flex;
			}
			&--search {

			}
		}
		&--third {
			display: flex;
			background-color: $light;
			border-bottom: $border-standard;
			padding: 0 1rem;
		}
	}

	&__logo-main {
		width: 184px;
		height: 100px;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../../img/logo-big.jpg');
	}

	&__sign-in-wrapper {
		color: $secondary;
		margin: 0 2rem 0 0;
	}

	&__menu {
		&--item {
			color: $secondary;
			margin: 0 2rem 0 0;
			font-family: $family-acme;
			font-size: $font-button;
			letter-spacing: 1px;
			cursor: pointer;
			user-select: none;
		}
	}

	&__submenu {
		&--browse {
			display: flex;
			align-items: center;
			height: 50px;
		}
		&--item {
			font-family: $family-acme;
			font-size: $font-button;
			color: $dark-gray;
			margin: 0 0.5rem 0 0;
			letter-spacing: 1px;
			padding: 0.5rem 1rem;
			border-radius: 20px;
			cursor: pointer;
			user-select: none;
			// border: 1px solid red;
			&:hover {
				color: $dark-gray-hover;
				// text-decoration: underline;
				background-color: white;
				transition: all 0.4s;
				box-shadow: $shadow-slim;
			}
		}
	}
}