.topbar {
	&__container {
	  width: 100vw;
	  height: 250px;
	  background-color: $primary;
	}
	&__row {
		&--first {
		    display: flex;
			justify-content: space-between;
			padding: 1rem 2rem 0 2rem;
			&-right {
				display: flex;
				align-items: center;
			}
		}

		&--second {
			height: 50px;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			padding: 2rem 2rem 0 2rem;
			&--menu {
			  display: flex;
			}
			&--search {
				&--holder {
					height: 39px;
					display: flex;
				}
			}
		}
		&--third {
			display: flex;
			background-color: $light;
			border-bottom: $border-standard;
			padding: 0 1rem;
		}
	}

	&__logo-main {
		width: 184px;
		height: 100px;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../../img/logo-big.jpg');
	}

	&__sign-in-wrapper {
		color: $secondary;
		margin: 0 1.5rem 0 0;
	}

	&__menu {
		&--holder {
		    display: flex;
		    flex-direction: column;
		    align-items: center;
			overflow: hidden;
			height: 39px;
			position: relative;
	    }
		&--item {
			color: $secondary;
			margin: 0 2rem 0 0;
			font-family: $family-acme;
			font-size: $font-button;
			letter-spacing: 1px;
			cursor: pointer;
			user-select: none;
			&:hover {

			}
		}
		&--hat {
			display: none;
			width: 1rem;
			height: 1rem;
			background-color: $light;
			transform: rotate(45deg);
			margin: 0 2rem 0 0;
			position: absolute;
			bottom: -11px;
		}

	}

	&__submenu {
		&--browse {
			display: flex;
			align-items: center;
			height: 50px;
		}
		&--item {
			font-family: $family-acme;
			font-size: $font-button;
			color: $dark-gray;
			margin: 0 0.5rem 0 0;
			letter-spacing: 1px;
			padding: 0.5rem 1rem;
			border-radius: 20px;
			cursor: pointer;
			user-select: none;
			// border: 1px solid red;
			&:hover {
				color: $dark-gray-hover;
				// text-decoration: underline;
				background-color: white;
				transition: all 0.4s;
				box-shadow: $shadow-slim;
			}
		}
	}
}

.topbar__menu--item:hover + .topbar__menu--hat {
	display: block;
}