@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lilita+One&family=Rubik&display=swap');

$font-button: 20px;
$font-big: 35px;
$font-larger: 45px;
$font-extra-big: 55px;
$font-tiny: 12px;

$family-header: 'Lilita One', cursive;
$family-main: 'Rubik', sans-serif;
$family-acme: 'Acme', sans-serif;